<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>zazapp</title>

        <!-- fontawesome script --> 
        <script src="https://kit.fontawesome.com/58e1ebb4d2.js" crossorigin="anonymous"></script>

        <!-- css globali -->
        <link rel="stylesheet"  href="./css/global.css">

        <!-- stilizzazione containers principali -->
        <link href="./css/container.css" rel="stylesheet">
        <link href="./css/containerSettoreComando.css" rel="stylesheet">
        <link href="./css/containerSettoreChat.css" rel="stylesheet">

        <!-- stilizzazione componenti dentro container settore COMANDO -->
        <link href="./css/settoreComando/headerUtente.css" rel="stylesheet">
        <link href="./css/settoreComando/notifiche.css" rel="stylesheet">
        <link href="./css/settoreComando/barraRicerca.css" rel="stylesheet">
        <link href="./css/settoreComando/contattoActive.css" rel="stylesheet">
        <link href="./css/settoreComando/contattiCard.css" rel="stylesheet">

        <!-- stilizzazione componenti dentro container settore CHAT -->
        <link href="./css/settoreChat/headerUtenteActive.css" rel="stylesheet">
        <link href="./css/settoreChat/messageInputBox.css" rel="stylesheet">
        <link href="./css/settoreChat/postMessage.css" rel="stylesheet">
        <link href="./css/settoreChat/getMessage.css" rel="stylesheet">
        <link href="./css/settoreChat/chatBox.css" rel="stylesheet">


        <!-- Dropdown -->
        <link href="./css/dropdown.css" rel="stylesheet">

        <!-- MONTSERRAT --> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    </head>

    <body class="sfondo-gradiente">
        <div id="app">
            <div class="container">
                <div class="settore-comando">

                    <div class="header-utente-comando">
                        <div class="header-utente__foto_nome">
                            <div class="cerchio-pfp">
                                <!-- placeholder -->
                                <img src="./img/avatar_io.jpg" alt=""> 
                            </div> 
                            <div class="nome-io">
                                Joshua
                            </div>
                        </div> 
                        <div class="header-utente__icone">
                            <i class="fas fa-circle fa-xs"></i>
                            <i class="fas fa-comment"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <div class="notifiche-comando">
                        <div class="cerchio-pfp">
                            <i class="fas fa-bell-slash"></i>
                        </div> 
                        <div>
                            <div>
                                Ricevi notifiche di nuovi messaggi
                            </div>
                            <div>
                                Attiva notifiche desktop
                            </div>
                        </div>
                    </div>

                    <div class="barra-ricerca-comando">
                        <div class="barra-ricerca-flex">
                            <div>
                                <i class="fas fa-search"></i>
                            </div> 
                            <input v-model = "ricerca" placeholder="Cerca o inizia uno nuova chat">
                        </div>
                    </div>

                    <div class="sswag-overflou">
                        <div :class = "{ 'background-active': card.name == cards[indiceAttivo].name }"  @click = "selezionato(index)" v-for = "(card, index) in swagBarraRicerca" class="card-comando nonlultimo">
                            <div class="card-img-text-container">
                                <div class="cerchio-pfp">
                                    <img :src="card.avatar" alt="">
                                </div>            
                                <div class="flex">
                                    <div>
                                        {{ card.name }} 
                                    </div> 
                                    <div>
                                        {{ orarioMessaggio }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-orario-invio">
                                {{ card.date }}  
                            </div>
                        </div>

                    </div>
                </div>


                <div class="settore-chat">
                    <div class="header-utente-attivo">
                        <div class="header-utente-chat__info">
                            <div class="cerchio-pfp">
                                <img :src="cards[indiceAttivo].avatar" alt="">
                            </div>
                            <div>
                                <div>
                                    {{ cards[indiceAttivo].name }}       
                                </div>
                                <div>
                                    online adesso 
                                </div>
                            </div>
                        </div>

                        <div class="header-utente-chat__icone">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <!-- chat box -->
                    <div class="chat-container-box">
                        <div v-for="(message, index) in cards[indiceAttivo].messages" :style="{ justifyContent: message.status == 'sent' ? 'end' : 'start' }" class="messaggio-container">
                            <div :class="message.status == 'sent' ? 'mio-messaggio-container' : 'amico-messaggio-container'" @mouseenter="mostraDropDown(index)" @mouseleave="nascondiDropDown(index)">
                                <div class="messaggio-post">
                                    {{ message.message }}
                                </div>

                                <div class="orario-messaggio">
                                    {{ message.date }}
                                </div>
                                <div v-if="message.dropDownAttivo" class="dropdown-tendina" @mouseenter="mostraDropDown(index)" @mouseleave="nascondiDropDown(index)">
                                    <ul style="list-style-type: none;">
                                        <li>swag</li>
                                        <li @click = "eliminaMessaggio(index)">Elimina Messaggio</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="message-container-box">
                        <div>
                            <i class="fas fa-smile"></i>
                        </div>
                        <div class="chatbox-box">
                            <input v-model="messaggio" @keydown.enter.prevent = "mandaMessaggio"  placeholder="invia messaggio" type="testo"> 
                        </div>
                        <div>
                            <i class="fas fa-microphone"></i>
                        </div>

                    </div>

                    <!---->
                </div>
            </div>
        </div>

        <!-- ciao -->
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.5.0/build/global/luxon.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>   
        <script src="./data/dataUtenti.js"> </script>
        <script src="./data/dataMessaggi.js"> </script>
        <script src = "./script/scripts.js"> </script>    

    </body>
</html>
